<h1>Solicitud de recuperación de la contraseña</h1>
<p>
  Hola {{ user.name }}, parece que has solicitado una recuperación de la contraseña
  para su cuenta de correo electrónico registrada con el correo {{ user.email }}, tu
  nuevo password es {{ user.password }}.
</p>

<p>
    Si fuiste tú, solo haz clic en este
    <a href="http://127.0.0.1:8080/api/auth/newpassword">link</a>
</p>

<p>
    Si no fue usted, le recomendamos que cambie su contraseña. Alguien puede
    lo han robado 🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️
</p>